.specialsContainer {
  padding: 4rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .specialsContainer {
    padding: 10rem 0;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .cardContainer {
    flex-direction: row;
  }
}
